<div class='col-lg-4 offset-lg-1'>
  <p>
    Welcome to the Pickleball Scheduler. This will allow you to schedule different types of formats. We currently only
    support one division at a time. The schedule will setup matches between players and it will organize matches into
    rounds. It will also determine which players will need to sit out each round.
  </p>
  <br>
  <h3>Formats</h3>
  <div class='offset-sm-1'>
    <h4>Tournament</h4>
    <ul>
      <li>Enter the number of players and we create a schedule so that everyone plays each other once.</li>
    </ul>
    <h4>King of the Court</h4>
    <ul>
      <li>Individual players are partnered up.</li>
      <li>You get a different partner every match.</li>
      <li>Your opponents will be determined by who you have played against the least.</li>
      <li>Your court assignment is determined by which court you,
        your partner, and your opponents have played on least.</li>
      <li>This will also optimise your playing time by evenly spreading out your byes.</li>
    </ul>
  </div>
</div>
