<!--The content below is only a placeholder and can be replaced.-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="mat-app-background">
  <mat-menu #appMenu="matMenu">
    <button mat-menu-item [routerLink]="['/schedule-entry']" routerLinkActive="mat-accent">Scheduler Entry</button>
    <button mat-menu-item [routerLink]="['/scheduler']" routerLinkActive="mat-accent">Scheduler</button>
    <button mat-menu-item>Settings</button>
    <button mat-menu-item [routerLink]="['/help']" routerLinkActive="mat-accent">Help</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<router-outlet></router-outlet>

