
<form #form="ngForm">
  <div>
    <label for="">Schedule Type</label>
    <select name="scheduleType" id="scheduleType" #scheduleType="ngModel" ngModel [(ngModel)]="seType" autofocus>
      <option value="" disabled>Choose a type</option>
      <option value="King">King of the Court</option>
      <option value="Tournament">Tournament</option>
    </select>
  </div>
<div *ngIf="seType !== ''">
  <Label>
    Number of Players
  </Label>
  <input class="form-control" type="number" name="nbrOfPlayersInput"
  ngModel [(ngModel)]="sePlayers" #nbrOfPlayersInput="ngModel">
  <br>
  <Label>
    Number of Courts
  </Label>
  <input class="form-control" type="number" name="nbrOfCourtsInput" id="nbrOfCourtsInput"
  ngModel [(ngModel)]="seCourts" #nbrOfCourtsInput="ngModel">
  <br>
  <Label>
    Number of Players per Court
  </Label>
  <input class="form-control" type="number" name="nbrOfPlayersPerCourtInput" id="nbrOfPlayersPerCourtInput"
  ngModel [(ngModel)]="sePlayersPerCourt" #nbrOfPlayersPerCourtInput="ngModel">
  <br>
  <button type="button" (click)="submit()">Start</button>
</div>
</form>
